{% extends 'Artist/Header.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Program Type</td>
                <td>
                    <select name="sel_arttype" id="" required>
                        <option value="">...Select...</option>
                        {% for i in programtype %}
                        <option 
                        {% if work.programtype.id == i.id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.programtype_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Caption</td>
                <td>
                    <input type="text" name="txt_caption" id="" value="{{work.program_caption}}" autocomplete="off" required>
                </td>
            </tr>
            <tr>
                <td>Details</td>
                <td>
                    <textarea name="txt_details" id="" cols="20" rows="5" autocomplete="off" required>{{work.program_details}}</textarea>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="file" name="txt_image" id="" autocomplete="off" required></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="txt_price" id="" value="{{work.program_price}}" autocomplete="off" required></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Program Caption</th>
            <th>Details</th>
            <th>Type</th>
            <th>Price</th>
            <th>Bookng Amount</th>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.program_caption}}</td>
            <td>{{i.program_details}}</td>
            <td>{{i.programtype.programtype_name}}</td>
            <td>{{i.program_price}}</td>
            <td>{{i.program_price|mul:10|div:100}}</td>
            <td><img src="{{i.program_image.url}}" width="150" height="150" alt=""></td>
            <td>
                <a href="{% url 'Artist:delprogram' i.id %}">Delete</a> /
                <a href="{% url 'Artist:addprogramvideo' i.id %}">Add Video</a> /
                <a href="{% url 'Artist:editprogram' i.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Artist:addprogram' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}