{% extends 'Artist/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <td>Art Type</td>
                <td>
                    <select name="sel_arttype" id="" autocomplete="off" required>
                        <option value="">...Select...</option>
                        {% for i in arttype %}
                        <option 
                        {% if work.arttype.id == i.id %}
                        selected
                        {% endif %}
                        value="{{i.id}}">{{i.arttype_name}}</option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>Caption</td>
                <td>
                    <input type="text" name="txt_caption" value="{{work.work_caption}}" autocomplete="off" required id="" title="Name Allows Only Alphabets,Spaces and First Letter Must Be Capital Letter" pattern="^[A-Z]+[a-zA-Z ]*$">
                </td>
            </tr>
            <tr>
                <td>Details</td>
                <td>
                    <textarea name="txt_details" id="" cols="20" rows="5" autocomplete="off" required>{{work.work_details}}</textarea>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td><input type="file" name="txt_image" id="" value="" autocomplete="off" required></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="txt_price" id="" value="{{work.work_price}}" autocomplete="off" required pattern="[0-9]{2,4}"></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="Add"></td>
            </tr>
        </table>
    </form>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Work Caption</th>
            <th>Details</th>
            <th>Type</th>
            <th>Price</th>
            <th>Image</th>
            <th>Stock</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.work_caption}}</td>
            <td>{{i.work_details}}</td>
            <td>{{i.arttype.arttype_name}}</td>
            <td>{{i.work_price}}</td>
            <td><img src="{{i.work_image.url}}" width="150" height="150" alt=""></td>
            <td>
                {% if i.work_stock == 0 %}
                N/A
                {% else %}
                {{i.work_stock}}
                {% endif %}
            </td>
            <td>
                <a href="{% url 'Artist:delwork' i.id %}">Delete</a> /
                <a href="{% url 'Artist:updatestock' i.id %}">Update Stock</a> /
                <a href="{% url 'Artist:editwork' i.id %}">Edit</a>
            </td>
        </tr>
        {% endfor %}

    </table>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location = "{% url 'Artist:addwork' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}