{% extends 'User/Header.html' %}
{% load static %}
{% block content %}
{% load mathfilters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Program Booking</h3>
    <table>
        <tr>
            <td>#</td>
            <td>Artist</td>
            <td>Program</td>
            <td>Amount</td>
            <td>Bookng Amount</td>
            <td>Booking For Date</td>
            <td>Booking Date</td>
            <td>Status</td>
        </tr>
        {% for i in program %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.program.artist.artist_name}}</td>
            <td>{{i.program.program_caption}}</td>
            <td>{{i.program.program_price}}</td>
            <td>{{i.program.program_price|mul:10|div:100}}</td>
            <td>{{i.booking_fordate}}</td>
            <td>{{i.booking_date}}</td>
            <td>
                {% if i.booking_status == 1 %}
                Accepted | <a href="{% url 'User:program_payment' i.id %}">Pay</a>
                {% elif i.booking_status == 2 %}
                Rejected
                {% elif i.booking_status == 3 %}
                Payed
                {% elif i.booking_status == 4 %}
                Cancelled
                {% else %}
                Pending 
                {% endif %}
                | <a href="{% url 'User:cancel_booking' i.id %}">Cancel Booking</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
{% endblock content%}