{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Type</title>
</head>
<body>
    
    <form method="POST">
        {% csrf_token %}
        <table align="center">
            <tr>
                <td>Art Type Name</td>
                <td><input type="text" name="txtname" placeholder="Enter District" required value="{{editdata.arttype_name}}"></td>
            </tr>
            <tr>
                
                <td colspan="2" align="center">
                    <input type="submit" name="btnsubmit" value="Save">
                    <input type="reset" name="btncancel" value="Cancel">
                </td>
            </tr>
        </table>
    </form>

    <table border="1" align="center" cellpadding="10">
        <tr>
            <th>Sl.No</th>
            <th>Art Type</th>
            <th>Action</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{i.arttype_name}}</td>
            <td><a href="{% url 'WebAdmin:delarttype' i.id %}">Delete</a> | <a href="{% url 'WebAdmin:editarttype' i.id %}">Edit</a></td>
        </tr>
        {% endfor %}

    </table>

</body>
</html>
{% endblock content %}